::after,
::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Outfit';
    font-weight: 700;
    src: url('./assets/fonts/outfit/Outfit-Bold.woff2') format('woff2'),
         url('./assets/fonts/outfit/Outfit-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Outfit';
    font-weight: 400;
    src: url('./assets/fonts/outfit/Outfit-Regular.woff2') format('woff2'),
         url('./assets/fonts/outfit/Outfit-Regular.woff') format('woff');
}

:root {
    --white-clr: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);

    --font-size-paragraph: 15px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--slate-300);
}

.card-container {
    display: flex;
    width: 320px;
    height: 499px;
    flex-direction: column;
    background-color: var(--white-clr);
    border-radius: 20px;
    align-items: center;
    padding: 16px 0;
    gap: 24px;
}

.card-container img {
    width: 288px;
    border-radius: 10px;
}

.text-container {
    width: 288px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

.title-card {
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 22px;
}

.text-card {
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 16px;
    padding: 0 18px;
}